*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    text-decoration: none;
    list-style: none;
}

.navContainer{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 80px;
    
    align-items: center;
}

.navContainer .navImg{
    grid-column: 2/3;
    width: 80px;
}

.navContainer .nav-ul{
    grid-column: 7/12;
    display: flex;
    justify-content: space-around;
}

.main-container{
    width: 95%;
    margin: 10px auto;
    display: grid;    
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 20px;
    justify-content: center;
    max-width: 900px;
}

.card{
    height: 280px;
    width: 250px;
    background-color: lightpink;
}